:root {
  --container-width: 119rem;
  --gutter: 2rem;
  --color-black: #000;
  --color-white: #fff;
  --color-blue: #2374e1;
  --color-light-blue: #1d9bf0;
  --color-dark-blue: #0a66c2;
  --color-darker-blue: #143ce8;
  --color-red: #ff0000;
  --color-green: #03a696;
  --color-grey: #f6f6f6;
  --color-dark-green: #42959b;
  --color-background: var(--color-white);
  --color-text: var(--color-black);
  --color-box-img: var(--color-black);
  --color-link-bg: var(--color-black);
  --color-input-border: var(--color-black);
  --font-family-raleway: "Raleway", sans-serif;
  --font-family-poppins: "Poppins", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-size-70: 7rem;
  --font-size-65: 6.5rem;
  --font-size-40: 4rem;
  --font-size-38: 3.8rem;
  --font-size-24: 2.4rem;
  --font-size-22: 2.2rem;
  --font-size-20: 2rem;
  --font-size-18: 1.8rem;
  --font-size-15: 1.5rem;
  --transition-timing: 0.3s;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 11rem;
}
body {
  font-size: 1.6rem;
  font-family: var(--font-family-raleway);
  background-color: var(--color-background);
  color: var(--color-text);
  border: 0;
}
.container {
  display: grid;
  row-gap: 11rem;
  margin: 0 auto;
  max-width: calc(var(--container-width) + calc(var(--gutter) * 2));
}
.video__loop {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  opacity: 0.08;
  z-index: -1;
}
.header {
  padding: 3rem 0;
  display: flex;
  position: relative;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
.header::before {
  height: 100%;
  width: 100vw;
  top: 0;
  z-index: -1;
  border-bottom: 0.1rem solid var(--color-input-border);
  background-color: var(--color-background);
  content: "";
  position: absolute;
}
.navigation {
  background-color: var(--color-background);
}
.navigation__list {
  display: flex;
  gap: 2rem;
}
.navigation__links:visited {
  text-decoration: none;
  font-weight: var(--font-weight-medium);
  text-transform: capitalize;
}
.navigation__links:link {
  text-decoration: none;
  font-weight: var(--font-weight-medium);
  text-transform: capitalize;
}
.navigation__links:hover {
  text-decoration: underline;
  font-weight: var(--font-weight-bold);
}
.container:has(#bio:target) .navigation__bio,
.container:has(#skills:target) .navigation__skills,
.container:has(#project:target) .navigation__projects,
.container:has(#media:target) .navigation__media,
.container:has(#client:target) .navigation__myclient,
.container:has(#contact:target) .navigation__contact {
  color: var(--color-blue);
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
}
/*toogle code*/
.toggle {
  display: flex;
  margin-left: auto;
  gap: 1rem;
}
.toggle__text {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-18);
  text-transform: capitalize;
}
.toggle__checkbox {
  display: none;
}
.toggle__label::after {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  display: block;
  background-color: var(--color-white);
  transition: 0.3s;
}
.toggle__label {
  display: block;
  position: relative;
  background-color: var(--color-black);
  padding: 0.3rem 0.4rem;
  border-radius: 1.5rem;
  width: 4.5rem;
  height: 2.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
/*switch theme*/
.toggle__checkbox:checked + .toggle__label {
  background-color: var(--color-white);
}
.toggle__checkbox:checked + .toggle__label::after {
  background-color: var(--color-green);
  transform: translateX(2.1rem);
}
/* toggle end*/
.toggle__checkbox:checked + .con {
  background-color: #000;
}
/*bio*/
.section {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: flex-start;
}
.bio {
  column-gap: 7.4rem;
  grid-template-columns: repeat(2, 1fr);
}
.bio__heading {
  font-size: var(--font-size-70);
  font-weight: var(--font-weight-bold);
}
.bio__oblective {
  font-family: var(--font-family-poppins);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-20);
  margin: 3rem 0 8rem;
  line-height: 1.5;
}
.bio__name {
  font-weight: var(--font-weight-semi-bold);
}
.bio__oblective a {
  text-transform: capitalize;
}
.almdrasa {
  color: var(--color-dark-green);
}
.youtube {
  color: var(--color-red);
}
.linkedIn {
  color: var(--color-dark-blue);
}
.facebook {
  color: var(--color-blue);
}
.twitter {
  color: var(--color-light-blue);
}
.bio__links {
  font-size: 2.4rem;
  font-weight: var(--font-weight-semi-bold);
  text-decoration: none;
}
.say-hi {
  background-color: var(--color-link-bg);
  color: var(--color-white);
  padding: 0.7rem 4.7rem;
}
.find-out {
  padding: 0.7rem 0;
  margin-inline-start: 1.4rem;
}
/*animation arrow*/
@keyframes jump {
  0% {
    transform: translateY(0.5rem);
  }
  35% {
    transform: translateY(-0.5rem);
  }
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
.bio__arrow {
  animation: jump 1s infinite alternate ease-in-out;
  display: inline-block;
  font-weight: var(--font-weight-bold);
}
/*bio picture*/
.bio__pic {
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-self: end;
}
.bio__pic::before {
  content: "";
  position: absolute;
  background-color: var(--color-box-img);
  width: 100%;
  height: 46rem;
  z-index: -1;
  border-radius: 1.8rem;
  box-shadow: 2.17543px 8.7017px 38.0699px;
}
.bio__photo {
  width: 42.2rem;
}

/*bio end*/
/*skills section*/
.skills {
  position: relative;
  padding: 5rem 0;
}
.section-bg::before {
  width: 100vw;
  background-color: var(--color-grey);
  height: 100%;
  position: absolute;
  content: "";
  z-index: -1;
  justify-self: center;
}
.skills__heading {
  font-size: var(--font-size-65);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  grid-column: 1/-1;
  margin-bottom: 5rem;
}
.skills__list {
  display: grid;
  row-gap: 4rem;
  grid-template-columns: repeat(3, 1fr);
}
.skills__items {
  font-size: var(--font-size-38);
  font-weight: var(--font-weight-semi-bold);
}
.skills__years {
  font-size: var(--font-size-20);
  margin-top: 1rem;
  display: inline-block;
}
/*skills end*/
/*media*/
.media {
  justify-content: center;
  display: grid;
  align-items: center;
}
.media__video {
  max-width: 100%;
}
/*end media*/
/*project  */
.project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  row-gap: 7rem;
  padding-bottom: 7rem;
}
.project__heading {
  font-size: var(--font-size-65);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  grid-column: 1/-1;
}
.project__img1 {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  max-width: 100%;
}
.project__item__heading {
  font-size: var(--font-size-38);
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
  margin-bottom: 2.5rem;
}
.project__text {
  line-height: 1.5;
  font-size: var(--font-size-18);
}
.project__item__links {
  color: var(--color-darker-blue);
  font-family: var(--font-family-poppins);
  font-weight: var(--font-weight-medium);
  margin-top: 2.3rem;
  text-transform: capitalize;
}
.project__item span {
  margin-left: 2rem;
}
.project__item {
  align-self: center;
}

/*project end */
/* clients*/
.client__heading {
  font-size: var(--font-size-65);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  grid-column: 1/-1;
  margin-top: 5rem;
}
.client {
  display: grid;
  row-gap: 7rem;
  padding: 15rem 0;
}
.client::before {
  width: 100vw;
  background-color: var(--color-grey);
  height: 100%;
  position: absolute;
  content: "";
  z-index: -1;
}
.client__opinion {
  grid-column: 1/-1;
  font-size: var(--font-size-40);
  line-height: 1.7;
}
.cient__wraper {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.opinion {
  flex-basis: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
}

/* clients ends*/
/*contact*/
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20rem;
  align-items: center;
}
.contact__description {
  font-size: var(--font-size-20);
  line-height: 1.9;
}
.contact__email {
  font-weight: var(--font-weight-bold);
  margin: 2.5rem 0;
}
.contact__icons {
  transition: all var(--transition-timing);
}
.soical__icons:hover {
  transform: scale(1.2);
}
.contact__inputs {
  display: flex;
  gap: 2rem;
}
.contact_h3 {
  margin-bottom: 7rem;
}
.contact__input {
  outline: 0;
  border: 0;
  background: transparent;
  border-bottom: 1px solid var(--color-input-border);
  flex: 1;
}
.area__input {
  margin-top: 4rem;
  width: 100%;
}
.contact__buttom {
  color: var(--color-white);
  background: var(--color-black);
  padding: 1.7rem 1.8rem;
  font-size: var(--font-size-24);
  text-transform: capitalize;
  margin-top: 3rem;
}
/* contact ends*/
/*footer*/
footer {
  border-top: 1px solid var(--color-black);
  padding: 1rem 0;
  font-size: var(--font-size-15);
}
/*end footer*/
html:has(.toggle__checkbox:checked) {
  --color-background: var(--color-black);
  --color-text: var(--color-white);
  --color-box-img: var(--color-green);
  --color-link-bg: var(--color-green);
  --color-grey: #080808;
  --color-input-border: var(--color-white);
}
/*
responsive design
*/
